<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>

<h2>Change Password</h2>

<form th:action="@{/provincehead/change-password}" method="post">

    <div>
        <label>Current Password</label><br>
        <input type="password" name="currentPassword" required>
    </div>

   <div>
    <label>New Password</label><br>
   <input type="password"
       name="newPassword"
       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}$"
       title="Must contain 8+ chars, uppercase, lowercase, number and special character"
       required>
</div>


    <div>
        <label>Confirm New Password</label><br>
        <input type="password" name="confirmPassword" required>
    </div>

    <button type="submit">Update Password</button>

</form>

<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<div th:if="${success}" style="color:green;">
    <p th:text="${success}"></p>
</div>

</body>
</html>
