<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/admin-layout :: layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Create Province</title>
</head>

<body>

<section class="ad-province-section">

    <div class="ad-province-container">

        <div class="ad-province-card">

            <h2>Create Province</h2>

            <form th:action="@{/admin/provinces/create}"
                  th:object="${province}"
                  method="post"
                  class="ad-province-form">

                <div class="ad-form-group">
                    <label>Province Name</label>
                    <input type="text"
                           th:field="*{name}"
                           placeholder="Enter province name"
                           required />
                </div>

                <div class="ad-form-buttons">
                    <button type="submit" class="ad-btn-primary">
                        Add Province
                    </button>

                    
                </div>

                <div th:if="${error}" class="ad-error">
                    <span th:text="${error}"></span>
                </div>

            </form>

        </div>

    </div>

</section>

</body>
</html>