<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/admin-layout :: layout(~{::section})}">

<section>

    <div class="ad-header">
        <h1>Welcome! Mr.Shaildendra Kharel</h1>
    </div>

    <div class="ad-card">
        <h2>Schools</h2>

        <table class="ad-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>School Name</th>
                <th>Address</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="school : ${schools}">
                <td th:text="${school.id}"></td>
                <td th:text="${school.name}"></td>
                <td th:text="${school.address}"></td>
                <td>
                <span th:if="${school.active}" class="ad-badge ad-badge-active">Active</span>
                <span th:unless="${school.active}" class="ad-badge ad-badge-inactive">Inactive</span>
                </td>
                <td>
                    <a th:href="@{|/admin/schools/${school.id}/users/create|}"
                    class="ad-btn ad-btn-primary">
                    Add User
                     </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</section>
</html>