<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/principal/layout/base :: html}">

<!-- PAGE CSS -->
<th:block th:fragment="pageCss">
<link rel="stylesheet" th:href="@{/css/principal/edit-subject.css}">
</th:block>
<body>

<div th:with="activePage='subject'">

<div th:fragment="content">

<h1 class="page-title">Edit Subject</h1>

<div class="center-container">

<div class="form-card">

<div class="form-header">
<h2>Edit Subject</h2>
<a class="back-btn" th:href="@{/principal/subjects}">
← Back
</a>
</div>

<form th:action="@{/principal/subjects/edit/{id}(id=${subject.id})}" method="post" class="form-body">
<div th:if="${errorMessage}" style="color:red;">
    <p th:text="${errorMessage}"></p>
</div>

<div th:if="${successMessage}" style="color:green;">
    <p th:text="${successMessage}"></p>
</div>
<label>Subject Name</label>
<input type="text" name="subjectName" th:value="${subject.name}" placeholder="Enter Subject Name" required>

<button type="submit" class="submit-btn">Save</button>

</form>

</div>
</div>

</div>

</div>

<!-- PAGE JS -->
<th:block th:fragment="pageJs">
<script>
console.log("Edit Subject Page Loaded");
</script>
</th:block>
</body>
</html>