<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Welcome Province head</h1>
<a th:href="@{/provincehead/province-users/create}">+ Create Office Users</a>
<a th:href="@{/provincehead/province-users}">+ View Office Users</a>
<a th:href="@{/provincehead/schools}">Schools</a>
<a th:href="@{/provincehead/schools/create}">+ Create Schools</a>
<a th:href="@{/provincehead/change-password}">Change Password</a>
</body>
</html>

