<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Province Users</title>
</head>
<body>

<h2>Province Company Users</h2>

<a th:href="@{/province-head/province-users/create}">
    Create New User
</a>

<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
    </tr>

    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.role}"></td>
    </tr>
</table>

</body>
</html>
